<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
{{ template "nav" }}
<body>
    <!-- Body section -->
    <div class="container-fluid" style="padding-left: 1.5%;">
        <form id="crawlForm" action="/" method="POST" class="text-center">
            <label style="margin-top: 1.5%;">Enter a URL</label>
            <br>
            <input id="seedInput" type="text" style="width: 50%;" name="url" value="{{ .Seed }}" required />
            <button type="submit">Crawl</button>
        </form>
        <br>
        <div class="text-center">
            <b>Crawled:</b> {{ .Seed }}&emsp;&emsp;&emsp;&emsp;<b>Collected:</b> {{ .Collected }}&emsp;&emsp;&emsp;&emsp;<b>Took:</b> {{ .Time }}
        </div>
        <br>
        <br>
        <div>
            {{ range .URLs }}
                <a id="download" href="/download/?url={{.}}">View</a>&ensp;|&ensp;
                <a id="download" href="/crawl/?root={{.}}">{{.}}</a>
                <br>
            {{ end }}
        </div>
    </div>
</body>
</html>
