{{ define "nav" }}
<div class="container" id="navbar">
    <div class="header clearfix">
        <div class="row">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/view">View</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<br>
{{ end }}